{% extends 'base.html' %}

{% block content %}
		<p>Browse available uni accommodation here.</p>
		{% if data|length > 0 %}
			{% for room in data %}
			<div>
				<h2>{{ room.bed }} room in {{ room.locality }}, &pound;{{ room.price.amount }}{{ room.price.billing_period }}</h2>
				{% for url in room.pics %}
				<img src="{{ url }}" alt="{{ room.bed }} room {{ room.locality }}" width="300">
				{% endfor %}
			</div>
			{% endfor %}
		{% else %}
		<p>Sorry, there are no rooms to display.</p>
		{% endif %}
{% endblock %}
