<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		     
	<title>LTU Digz: {{ page }}</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>LTU Digz</h1>
			<p>Find the perfect room to rent while studying at Leeds Trinity University.</p>
			<p>We list rooms available in our Halls of Residence as well as those of approved private landlords.</p>
		</div>
		{% block content %}
			<p>Default content!</p>
		{% endblock %}
	</div>
</body>
</html>
