{% extends 'base.html' %}

{% block content %}
	{% if rooms|length > 0 %}
		{% for room in rooms %}
		<div class="row">
			<div class="col-md-12">
				<h2>{{ room.bed }} room in {{ room.locality }}, &pound;{{ room.price }}{{ room.billing_period }}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{% for pic in pics %}
					{% if pic.room_id == room.id %}
						<img src="{{ pic.url }}" alt="{{ room.bed }} room {{ room.locality }}" width="100%">
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-8">
				<p>{{ room.description }}</p>
			</div>
		</div>
		{% endfor %}
	{% else %}
	<p>Sorry, there are no rooms to display.</p>
	{% endif %}
{% endblock %}
